.app.dark {
  --bg-color: #00003b;
  --inverted-bg-color: #8bd08b;

  --primary-color: #21d521;
  --secondary-color: #8bd08b;
  --inverted-primary-color: #00003b;
  --inverted-secondary-color: #1b1b94;
}